*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
	font-size: 16px;
	font-family: sans-serif;
}

h1 {
    float: left;
}

main{
    margin-top: 80px;
}

.container {
    width: 98%;
    margin: auto;
}
@media (min-width:1024px) {
    .container {
        width: 1000px;
    }
}

/* MENU */

header.nav {
    width: 100%;
    height: 50px;
    background: #1f8dd6;
    color: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.nav .container {
    display: table;
}

header.nav h1{
    margin-top: 5px;
}

header.nav a {
    color: #fff;
}

header label.menu-bar { 
    margin: 15px 15px;
    display: inline-block;
    float: right;
}

#menu-bar {
    display: none;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #1f8dd7;
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a {
        border: none;
    }
    
    header label.menu-bar { 
        display: none;
    }
}

/* MENU */


/* ----------------- GRIBS ----------------- */

.row {
	width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5 {
    display: inline-block;
    vertical-align: top;
}

.col-1 {
    width: 19%;
}

.col-2 {
    width: 39%;
}

.col-3 {
    width: 59%;
}

.col-4 {
    width: 79%;
}

.col-5 {
    width: 100%;
}

/* ----------------- GRIBS ----------------- */

@media screen and (min-width: 35.5em) {
	
	.example {
		background-color: red;
	}

	.col-1 {
	    width: 19.4%;
	}

	.col-2 {
	    width: 39.4%;
	}

	.col-3 {
	    width: 59.4%;
	}

	.col-4 {
	    width: 79.4%;
	}

}

@media screen and (min-width: 48em) {
	.example {
		background-color: blue;
	}

	.col-1 {
	    width: 19.5%;
	}

	.col-2 {
	    width: 39.5%;
	}

	.col-3 {
	    width: 59.5%;
	}

	.col-4 {
	    width: 79.5%;
	}

}

@media screen and (min-width: 64em) {
	.example {
		background-color: green;
	}

	.col-1 {
	    width: 19.7%;
	}

	.col-2 {
	    width: 39.7%;
	}

	.col-3 {
	    width: 59.7%;
	}

	.col-4 {
	    width: 79.7%;
	}

}

@media screen and (min-width: 80em) {
	.example {
		background-color: yellow;
	}
}
